set default=0
set timeout=0

menuentry 'linux' {
    linux /boot/grub/bzImage console=ttyS0,115200n8 root=/dev/sr0 rootwait ro quiet loglevel=${LOGLEVEL} HOST_ADDR=192.168.10.15/24 INIT_INFO_SOURCE_REMOTE=192.168.10.3:21 init=/sbin/tini -- /sbin/init
}