name: Tests
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-22.04
    name: Build
    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: '1.19.x'
    - uses: actions/checkout@v3
    - name: Build all
      run: |
        make
        ls -al ./out/c2w
        if ldd ./out/c2w ; then echo "must be static binary" ; exit 1 ; fi

  test:
    runs-on: ubuntu-22.04
    name: Test
    steps:
    - uses: actions/checkout@v3
    - name: Test
      run: |
        make test

  benchmark:
    runs-on: ubuntu-22.04
    name: Test
    steps:
    - uses: actions/checkout@v3
    - name: Benchmark
      run: |
        make benchmark

  linter:
    runs-on: ubuntu-22.04
    name: Linter
    steps:
    - uses: actions/checkout@v3
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.50
        args: --verbose

  project:
    name: Project Checks
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: 1.19.x
    - uses: actions/checkout@v3
      with:
        fetch-depth: 100
    - name: "Check DCO sign"
      run: |
        go install github.com/vbatts/git-validation@v1.1.0
        git-validation -v -run DCO
